<!DOCTYPE html>
<html>
<head>
    <title>Feedbacks</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Residents' Feedback</h1>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Feedback</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for feedback in feedbacks %}
            <tr>
                <td>{{ feedback.username or "Anonymous" }}</td>
                <td>{{ feedback.feedback }}</td>
                <td>{{ feedback.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
