<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_b4359e851f509b560877d686cb86d323 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_b4359e851f509b560877d686cb86d323" ></div>
        
</body>
<script>
    
    
            var map_b4359e851f509b560877d686cb86d323 = L.map(
                "map_b4359e851f509b560877d686cb86d323",
                {
                    center: [14.5995, 120.9842],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_10236ad9b79339416fa9c3ddd6723367 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_10236ad9b79339416fa9c3ddd6723367.addTo(map_b4359e851f509b560877d686cb86d323);
        
    
            var marker_2872367da4b853b07b69133dcd494bea = L.marker(
                [11.470012875000002, 123.09686387500003],
                {}
            ).addTo(map_b4359e851f509b560877d686cb86d323);
        
    
        var popup_221671d46c7c748a07deda0653d81a71 = L.popup({"maxWidth": "100%"});

        
            
                var html_26d40fef938d6c05d8242f9ed6028d7e = $(`<div id="html_26d40fef938d6c05d8242f9ed6028d7e" style="width: 100.0%; height: 100.0%;">gada</div>`)[0];
                popup_221671d46c7c748a07deda0653d81a71.setContent(html_26d40fef938d6c05d8242f9ed6028d7e);
            
        

        marker_2872367da4b853b07b69133dcd494bea.bindPopup(popup_221671d46c7c748a07deda0653d81a71)
        ;

        
    
    
            var marker_b533958c2e6a88b7d9b25010104b2d1c = L.marker(
                [51.5030443, -0.0015493],
                {}
            ).addTo(map_b4359e851f509b560877d686cb86d323);
        
    
        var popup_b2a3265dc8d2737685ad6e95bf6ca7d2 = L.popup({"maxWidth": "100%"});

        
            
                var html_cfdd7ea59b6c4427c8d11cf356c17dd9 = $(`<div id="html_cfdd7ea59b6c4427c8d11cf356c17dd9" style="width: 100.0%; height: 100.0%;">fada</div>`)[0];
                popup_b2a3265dc8d2737685ad6e95bf6ca7d2.setContent(html_cfdd7ea59b6c4427c8d11cf356c17dd9);
            
        

        marker_b533958c2e6a88b7d9b25010104b2d1c.bindPopup(popup_b2a3265dc8d2737685ad6e95bf6ca7d2)
        ;

        
    
    
            var marker_1c696b3b1d9c55c879d944b7f5c0310a = L.marker(
                [14.5995, 120.9842],
                {}
            ).addTo(map_b4359e851f509b560877d686cb86d323);
        
    
        var popup_cf97af540537c40f2d7cd54d5ac59dfe = L.popup({"maxWidth": "100%"});

        
            
                var html_048e2977c531055f04b2ffeb40103722 = $(`<div id="html_048e2977c531055f04b2ffeb40103722" style="width: 100.0%; height: 100.0%;">fdsyhghn</div>`)[0];
                popup_cf97af540537c40f2d7cd54d5ac59dfe.setContent(html_048e2977c531055f04b2ffeb40103722);
            
        

        marker_1c696b3b1d9c55c879d944b7f5c0310a.bindPopup(popup_cf97af540537c40f2d7cd54d5ac59dfe)
        ;

        
    
</script>
</html>